.title{
    font-style: italic;
    font-size: 40px;
    position: fixed; /* or absolute */
    // top: 50%;
    left: 38%;
    display: flex;

}

.player-container{
    position: fixed; /* or absolute */
    top: 5%;
    left: 27%;
}