.header {
  font-size: 80px;
}

.ranking {
  color: #fff;
  text-transform: uppercase;
  background: rgb(250, 48, 48);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  position: relative;
  font-weight: bold;
}
.best {
  color: black;
  text-transform: uppercase;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}
.position {
  color: #fff;
  text-transform: uppercase;
  background: rgb(3, 153, 3);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}

.combine {
  color: #fff;
  text-transform: uppercase;
  background: rgb(14, 104, 189);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-weight: bold;
  margin-left: 120px;
  margin-right: 40px;
}
.worst {
  color: #fff;
  text-transform: uppercase;
  background: rgb(250, 133, 24);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
}

.chart-example {
  display: flex;
  justify-content: center;
}
h3 {
  margin-top: 15px;
  background-color: black;
  color: white;
  font-size: 28px;
  font-style: italic;
  margin-left: 75px;
}
.position-name {
  background-color: black;
  color: white;
  margin-bottom: 20px;
  font-size: 15px;
}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: 0.5em;
  width: 10px;
  background-color: purple;
}

.legend {
  margin-right: 20px;
  background-color: teal;
}

.rb {
  background: #1f77b4;
  height: 16;
  width: 50;
}
.wr {
  background: #ff7f0e;
  height: 16;
  width: 50;
}
.qb {
  background: #2ca02c;
  height: 16;
  width: 50;
}
.te {
  background: red;
  height: 16;
  width: 50;
  color: white;
}
