.title{
    font-style: italic;
    font-size: 70px;
    position: fixed; /* or absolute */
    // top: 50%;
    left: 38%;
    display: flex;

}

// .player-container{
//     position: flex; /* or absolute */
//     background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
//     // top: 2%;
//     // left: 19%;
//     // bottom: 20%;
    
// }

.ranking {
color: #fff ;
text-transform: uppercase;
background: gray;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}
.best {
color: #fff ;
text-transform: uppercase;
background: gray;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}
.position{
color: #fff ;
text-transform: uppercase;
background: gray;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}

.combine{
color: #fff;
text-transform: uppercase;
background:navy;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}
.worst{
color: #fff;
text-transform: uppercase;
background:navy;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}

